.content{
    display : flex;
    align-items : center;
    justify-content: space-around;
}
.arrow{
    display : grid;
    place-items : center;
    cursor : pointer;
    background : #345345;
}

.arrow:active{
    transform : scale(0.9);
}

.cannot_work{
    background : #676767;
}

.vpCard{
    border : 1px solid brown;
    width : 200px;
    font-weight : bolder;
}