body,
main {
    min-width: 250px;
}
header {
    border: 1px solid green;
    background: radial-gradient(green, skyblue);
    color: darkred;
    text-shadow: 5px 2px 5px #555;
    text-align: center;
}

.books{
    display : flex;
    align-items : center;
    justify-content: space-around;
}
.arrow{
    display : grid;
    place-items : center;
    cursor : pointer;
    background : #345345;
}

.vpCard{
    border : 1px solid red;
    margin : 0;
    padding : 0;
    width : 200px;
}

footer{
    color : #fff;
}