{% include 'base.html' %}

{% block head %}
<title>Admin login</title>
{% endblock head %}

{% block body %}
<div class="container mt-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-6 bg-dark border rounded shadow-lg">
            <form class="bg-dark text-white p-3" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}