{% include 'base.html' %}

{% block head %}
<title>Hobby</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/hobby.css') }}">
{% endblock head %}

{% block body %}
<header id="header" class="container-fluid text-center border shadow">
    <h2 class="fw-bolder">Hobby</h2>
    <p>There are some subjects which students learn out of curiosity or passion. Here are some links of the
        resources which are freely available for those who seek.</p>
</header>

<main class="container-fluid">
    <h2 class="text-center bg-info shadow">All Recommonded Resources</h2>

    <div class="row row-cols-4 gap-3 mx-auto border justify-content-center">

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>Apni Kaksha(C++)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ" target="_blank">Learn</a>
        </div>
        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>Code With Harry(C)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/watch?v=9-GSIN8s5Eo&list=PLu0W_9lII9ahSEQv6cHtu8JBXNgK2_QMX"
                target="_blank">Learn</a>
        </div>
        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>Code With Harry(Web Dev)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/watch?v=9DxdE__m_LA&list=PLu0W_9lII9aiQiOwthuSvinxoflmhRxM3"
                target="_blank">Learn</a>
        </div>
        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>Code With Harry(C++)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/watch?v=j8nAHeVKL08&list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL"
                target="_blank">Learn</a>
        </div>
        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>Love Babbar</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/watch?v=AgrV4QHZKl4&list=PL4PCksYQGLJOcaPLgeMFaxaHigPFjBuTG"
                target="_blank">Learn</a>
        </div>
        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>Logo Designing</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/watch?v=NfkQeOSmIMY&list=PLW-zSkCnZ-gDer-VZlBbe1f9-G0zNYdtg"
                target="_blank">Learn</a>
        </div>

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>Anuj Bhaiya (DSA)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/playlist?list=PLUcsbZa0qzu3yNzzAxgvSgRobdUUJvz7p"
                target="_blank">Learn</a>
        </div>

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>Anuj Bhaiya (Android Dev)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/playlist?list=PLUcsbZa0qzu3Mri2tL1FzZy-5SX75UJfb"
                target="_blank">Learn</a>
        </div>

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>cs50 Lectures</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/playlist?list=PLhQjrBD2T382_R182iC2gNZI9HzWFMC_8"
                target="_blank">Learn</a>
        </div>

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>cs50 Web dev</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/playlist?list=PLhQjrBD2T380xvFSUmToMMzERZ3qB5Ueu"
                target="_blank">Learn</a>
        </div>

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>cs50 AI</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/playlist?list=PLhQjrBD2T382Nz7z1AEXmioc27axa19Kv"
                target="_blank">Learn</a>
        </div>

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>code with harry(git)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/playlist?list=PLu0W_9lII9agwhy658ZPA0MTStKUJTWPi"
                target="_blank">Learn</a>
        </div>

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>code with harry(python)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/playlist?list=PLu0W_9lII9agICnT8t4iYVSZ3eykIAOME"
                target="_blank">Learn</a>
        </div>

        <div class="card col align-items-center">
            <img src="../static/images/images.png" alt="Image">
            <h4>code with harry(Learn in one video)</h4>
            <a class="btn btn-primary fw-bolder container-fluid" role="button"
                href="https://www.youtube.com/playlist?list=PLu0W_9lII9ahKZ42vg2w9ERPmShYbYAB7"
                target="_blank">Learn</a>
        </div>

    </div>

    <a href="#header" class="container-fluid btn btn-primary mx-auto fw-bolder" role="button">Back to top</a>
</main>

{% endblock body %}

{% block jsfile %}
    <script src="{{ url_for('static', filename='js/hobby.js') }}"></script>
{% endblock jsfile %}