{% include 'base.html' %}

{% block head %}
<title>Hobby</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/hobby.css') }}">
</style>
{% endblock head %}

{% block body %}
<header id="header" class="container-fluid text-center border shadow">
    <h2 class="fw-bolder">Hobby</h2>
    <p>There are some subjects which students learn out of curiosity or passion. Here are some links of the
        resources which are freely available for those who seek.</p>
</header>

<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-md-3 col-sm-12 bg-dark d-flex flex-column align-items-start">
            <div class="btn-group dropend my-2">
                <button type="button" class="btn btn-secondary">
                    Ratings
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropright</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item">First</a></li>
                    <li><a href="#" class="dropdown-item">Second</a></li>
                    <li><a href="#" class="dropdown-item">Third</a></li>
                </ul>
            </div>
            <div class="btn-group dropend my-2">
                <button type="button" class="btn btn-secondary">
                    Time
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropright</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item">First</a></li>
                    <li><a href="#" class="dropdown-item">Second</a></li>
                    <li><a href="#" class="dropdown-item">Third</a></li>
                </ul>
            </div>
            <div class="btn-group dropend my-2">
                <button type="button" class="btn btn-secondary">
                    Duration
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropright</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item">First</a></li>
                    <li><a href="#" class="dropdown-item">Second</a></li>
                    <li><a href="#" class="dropdown-item">Third</a></li>
                </ul>
            </div>
            <div class="btn-group dropend my-2">
                <button type="button" class="btn btn-secondary">
                    Topics
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropright</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="#" class="dropdown-item">First</a></li>
                    <li><a href="#" class="dropdown-item">Second</a></li>
                    <li><a href="#" class="dropdown-item">Third</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 border bg-dark shadow text-white">
            {% for i in range(5) %}
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <p>C++</p> 
                        <a href="#">see more</a>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-1 d-flex justify-content-center align-items-center arrow"><</div>
                            <div class="col-10 d-flex justify-content-center align-items-center content">subjects</div>
                            <div class="col-1 d-flex justify-content-center align-items-center arrow">></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}

{% block jsfile %}
<script src="{{ url_for('static', filename='js/hobby.js') }}"></script>
{% endblock jsfile %}